// Colors

/// Primary
$pale-blue: #e0e8ff;
$bright-blue: #3829e0;

/// Neutral
$very-pale-blue: #f5f7ff;
$desaturated-blue: #7280a7;
$dark-blue: #1f2f56;

// buttons
@mixin btn {
  width: 100%;
  height: 45px;
  border-radius: 14px;
  border: none;
  outline: none;
  font-weight: 700;
  font-size: 1rem;

  &:hover {
    cursor: pointer;
  }
}

// flexbox
@mixin flex-row {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-flow: column nowrap;
}

@mixin link-style {
  font-size: 0.9rem;
  font-weight: 700;
  text-decoration: underline;
  color: $bright-blue;

  &:hover,
  &:active {
    text-decoration: none;
    cursor: pointer;
    color: lighten($bright-blue, 10%);
  }
}
